<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mana Pizza</title>
    <link rel="icon" type="image/x-icon" href="./static/favicon.ico">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/styles.css" rel="stylesheet">

    <meta name="csrf-token" content="{{ csrf_token() }}">

    <meta name="og-title" property="og:title" content="Mana Pizza - EDH mana smoothing tool"/>
    <meta type="og-type" property="og:type" content="website" />
    <meta name="og-description" property="og:description" content="Mana Pizza is a EDH mana smoother tool. It's meant for EDH players who need advice on which lands choose for their multicolor decks" />
    <meta name="og-image" property="og:image" content="https://i.imgur.com/KNBoI1H.jpg" />
    <meta name="og-url" property="og:url" content="https://mana-pizza.flavsdotpy.com/" />
</head>
<body>
    <div id="body-container">
        <div class="navbar navbar-expand bg p-1 safe-width">
            <span class="navbar-brand mb-0 h1 p-2">Mana Pizza</span>
            <div class="container-fluid justify-content-end">
                <div>
                    <a class="btn btn-primary btn-floating btn-social" style="background-color: #0082ca" target="_blank" href="https://www.linkedin.com/in/fm-teixeira/" role="button"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-primary btn-floating btn-social" style="background-color: #333333" target="_blank" href="https://github.com/flavsdotpy/mana-pizza" role="button"><i class="fab fa-github"></i></a>
                    <a class="btn btn-primary btn-floating btn-social" style="background-color: #7289da" target="_blank" href="https://discordapp.com/users/149312554353688576" role="button"><i class="fab fa-discord"></i></a>
                </div>

            </div>
        </div>
        <div id="content-wrapper">
            <div class="container safe-width">
                <div class="card card-info bg p-3 mt-5" id="descriptionCard">
                    <h2>What is Mana Pizza?</h1>
                    Mana Pizza is a EDH mana smoother tool. It's meant for EDH players who need advice on which lands choose for their multicolor decks.<br/>
                    It uses your deck mana color distribution information to decide how lands should be set up.<br/>
                    For advanced mode, it actually gives you a complete list of lands based on configured filters.
                </div>
                <div class="card card-info bg p-3 mt-5" id="howToCard">
                    <h2>How to use it?</h2>
                    <ul>
                        <li>Fill the commander field with your deck's general.</li>
                        <li>Fill the cards list field with all cards of your deck, except lands and the general.</li>
                        <ul>
                            <li>One card per line. It accepts card count (i.e. '20 Shadowborn Apostle' or '20x Shadowborn Apostle', without quotes) and/or repeated cards.</li>
                            <li>English only.</li>
                            <li>Split cards and/or Double-faced cards must be listed as 'Card1 // Card2' (i.e. '1 Dead // Gone', without quotes).</li>
                        </ul>
                        <li>Set-up filters (if applicable).</li>
                        <li>Click generate land base button and see the magic! :)</li>
                    </ul>
                    <h2>Advanced mode:</h2>
                    <h4>Available filters</h3>
                    <ul>
                        <li>Land price limit</li>
                        <ul>
                            <li>Filter out lands that cost more than the value set.</li>
                            <li>Prices based on Scryfall. Last prices update: {{last_update}}.</li>
                        </ul>
                    </ul>
                </div>

                <div class="card card-info bg p-3 mt-5" id="mainCard">

                    <div id="inputDiv">
                        <h1 class="text-center mb-3">Inputs</h1>

                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-9 mb-3">
                                    <label for="inputCommander" class="form-label h4">Commander</label>
                                    <input id="inputCommander" class="form-control bg"></input>
                                </div>
                                <div class="col-9 mb-3">
                                    <label for="inputCards" class="form-label h4">
                                        Cards
                                    </label>
                                    <textarea id="inputCards" class="form-control bg" rows="10"></textarea>
                                </div>
                            </div>
                            <ul class="nav justify-content-center m-3">
                                <li class="nav-item"><button class="active btn btn-info" data-bs-toggle="tab" data-bs-target="#simpleTab">Simple</button></li>&nbsp;&nbsp;&nbsp;
                                <li class="nav-item"><button class="btn btn-danger" data-bs-toggle="tab" data-bs-target="#advancedTab">Advanced</button></li>
                            </ul>
                            <div class="tab-content m-5">
                                <div class="tab-pane active" id="simpleTab">
                                    <div class="row row-cols-auto justify-content-md-center m-3">
                                        <button id="calculateSimpleButton" class="btn btn-success ml-3 mr-3">Get land base suggestions</button>&nbsp;&nbsp;&nbsp;
                                        <button id="clearSimpleInputsButton" class="btn btn-warning">Clear inputs</button>
                                    </div>
                                </div>
                                <div class="tab-pane" id="advancedTab">
                                    <div class="row justify-content-center">
                                        <div class="col-4 mb-3">
                                            <label for="inputPriceLimit" class="form-label h4">
                                                Land price limit
                                            </label>

                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">$</span>
                                                </div>
                                                <input id="inputPriceLimit" class="form-control bg" type="number" value="10"></input>
                                                <div class="input-group-append">
                                                    <span class="input-group-text">.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-cols-auto justify-content-md-center m-3 mb-5">
                                        <button id="calculateAdvancedButton" class="btn btn-success ml-3 mr-3">Generate complete land base</button>&nbsp;&nbsp;&nbsp;
                                        <button id="clearAdvancedInputsButton" class="btn btn-warning">Clear inputs</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="outputSimpleDiv" class="hidden">
                        <h1 class="text-center mb-3">Results</h1>
                        <div class="row justify-content-center">
                            <div class="col-5 mb-3">
                                <span class="h4">Lands Suggestion</span>
                                <div class="col-12 mt-2">
                                    <span id="outputSimpleLands" class="showNewLine"></span>
                                </div>
                            </div>
                            <div class="col-4 mb-3">
                                <span class="h4">Deck Stats</span>
                                <br/>
                                <div class="col-12 mt-2">
                                    <span>Land Count: </span><span id="statsSimpleLandCount"></span>
                                </div>
                                <div class="col-12 mt-2">
                                    <span>Total CMC: </span><span id="statsSimpleTotalCMC"></span>
                                </div>
                                <div class="col-12 mt-2">
                                    <span>Avg. CMC w/ Lands: </span><span id="statsSimpleAvgCMC"></span>
                                </div>
                                <div class="col-12 mt-2">
                                    <span>Avg. CMC w/o Lands: </span><span id="statsSimpleAvgCMCNoLands"></span>
                                </div>
                                <div class="col-12 mt-2">
                                    <span>Color Distribution: </span><br/>
                                    &#9;&#9;<span id="statsSimplePercentW" class="showNewLine"></span>
                                    &#9;&#9;<span id="statsSimplePercentU" class="showNewLine"></span>
                                    &#9;&#9;<span id="statsSimplePercentB" class="showNewLine"></span>
                                    &#9;&#9;<span id="statsSimplePercentR" class="showNewLine"></span>
                                    &#9;&#9;<span id="statsSimplePercentG" class="showNewLine"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-auto justify-content-md-center m-3">
                            <button id="closeSimpleOutputDiv" class="btn btn-light">Close results</button>
                        </div>
                    </div>

                    <div id="outputAdvancedDiv" class="hidden">
                        <h1 class="text-center mb-3">Results</h1>
                        <div class="row justify-content-center">
                            <div class="col-5 mb-3">
                                <div class="text-wrap">
                                    <label for="outputAdvancedLands" class="form-label h4">Selected Lands</label>
                                    <textarea id="outputAdvancedLands" class="form-control bg"  rows="10" readonly></textarea>
                                    <div id="copyResult" class="clipboard icon"></div>
                                </div>
                            </div>
                            <div class="col-4 mb-3">
                                <span class="h4">Stats</span>
                                <br/>
                                <div class="col-12 mt-2">
                                    <span>Land Count: </span><span id="statsAdvancedLandCount"></span>
                                </div>
                                <div class="col-12 mt-2">
                                    <span>Total CMC: </span><span id="statsAdvancedTotalCMC"></span>
                                </div>
                                <div class="col-12 mt-2">
                                    <span>Avg. CMC w/ Lands: </span><span id="statsAdvancedAvgCMC"></span>
                                </div>
                                <div class="col-12 mt-2">
                                    <span>Avg. CMC w/o Lands: </span><span id="statsAdvancedAvgCMCNoLands"></span>
                                </div>
                                <div class="col-12 mt-2">
                                    <span>Color Distribution: </span><br/>
                                    &#9;&#9;<span id="statsAdvancedPercentW" class="showNewLine"></span>
                                    &#9;&#9;<span id="statsAdvancedPercentU" class="showNewLine"></span>
                                    &#9;&#9;<span id="statsAdvancedPercentB" class="showNewLine"></span>
                                    &#9;&#9;<span id="statsAdvancedPercentR" class="showNewLine"></span>
                                    &#9;&#9;<span id="statsAdvancedPercentG" class="showNewLine"></span>
                                </div>
                                <div class="col-12 mt-2">
                                    <span>Total land base price: $</span><span id="statsAdvancedLandbasePrice"></span>
                                </div>
                                <div class="col-12 mt-2">
                                    <span>Total deck price: $</span><span id="statsAdvancedDeckPrice"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-auto justify-content-md-center m-3">
                            <button id="closeAdvancedOutputDiv" class="btn btn-light">Close results</button>
                        </div>
                    </div>

                    <div id="errorsDiv" class="hidden">
                        <div class="row">
                            <h1 class="text-center mb-3">Error</h1>
                            <div class="col-12 mb-3">
                                <span id="spanErrors" class="showNewLine"></span>
                            </div>
                        </div>
                        <div class="row row-cols-auto justify-content-md-center m-3">
                            <button id="closeErrorsDiv" class="btn btn-light">Close results</button>
                        </div>
                    </div>
                </div>


            </div>

        </div>


    </div>

    <!-- Bootstrap JS and AJAX Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./static/mana-pizza.js"></script>

</body>
</html>
