<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mana Pizza</title>
    <link rel="icon" type="image/x-icon" href="./static/favicon.ico">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/styles.css" rel="stylesheet">

    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
    <div id="body-container">
        <div class="navbar navbar-expand alt-bg p-1 safe-width">
            <span class="navbar-brand mb-0 h1 p-2">Mana Pizza</span>
            <div class="container-fluid justify-content-end">
                <div>
                    <a class="btn btn-primary btn-floating btn-social" style="background-color: #0082ca" target="_blank" href="https://www.linkedin.com/in/fm-teixeira/" role="button"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-primary btn-floating btn-social" style="background-color: #333333" target="_blank" href="https://github.com/ap3xx" role="button"><i class="fab fa-github"></i></a>
                    <a class="btn btn-primary btn-floating btn-social" style="background-color: #7289da" target="_blank" href="https://discordapp.com/users/149312554353688576" role="button"><i class="fab fa-discord"></i></a>
                </div>

            </div>
        </div>
        <div id="content-wrapper">
            <div class="container safe-width">

                <div class="row m-3">
                    <div class="col-6">
                        <div class="col-12 mb-3">
                            <label for="inputCommander" class="form-label h4">Commander</label>
                            <input id="inputCommander" class="form-control"></input>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="inputPriceLimit" class="form-label h4">
                                Land price limit
                                <i class="fa-solid fa-circle-info justify-content-end"
                                    data-bs-toggle="tooltip"
                                    data-bs-html="true"
                                    data-bs-custom-class="custom-tooltip"
                                    data-bs-placement="top"
                                    title="Prices based on Scryfall, updated daily. <br/>
                                           Last price update: {{ last_update }}"></i>
                            </label>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">$</span>
                                </div>
                                <input id="inputPriceLimit" class="form-control" type="number" value="10"></input>
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="inputCards" class="form-label h4">
                            Cards
                            <i class="fa-solid fa-circle-info"
                            data-bs-toggle="tooltip"
                            data-bs-html="true"
                            data-bs-custom-class="custom-tooltip"
                            data-bs-placement="top"
                            title="All non-land cards, except the commander. <br/>
                                    One per line, English names only. <br/>
                                    Split cards and/or Double-faced cards must be listed as 'Card1 // Card2', i.e. 'Dead // Gone'."></i>
                        </label>
                        <textarea id="inputCards" class="form-control" rows="20"></textarea>
                    </div>
                </div>
                <br/>
                <div class="row row-cols-auto justify-content-md-center m-3">
                    <button id="calculateButton" class="btn btn-success ml-3 mr-3">Generate land base</button>&nbsp;&nbsp;&nbsp;
                    <button id="clearButton" class="btn btn-warning">Clear</button>
                </div>
            </div>
            <br/>
            <div class="container safe-width hidden" id="outputDiv">
                <div class="row m-3">
                    <div class="col-6 mb-3">
                        <span class="h4">Stats</span>
                        <div class="col-12 mt-3">
                            <span>Total CMC: </span><span id="spanTotalCMC"></span>
                        </div>
                        <div class="col-12 mt-3">
                            <span>Avg. CMC w/ Lands: </span><span id="spanAvgCMC"></span>
                        </div>
                        <div class="col-12 mt-3">
                            <span>Avg. CMC w/o Lands: </span><span id="spanAvgCMCNoLands"></span>
                        </div>
                        <div class="col-12 mt-3">
                            <span>Color Distribution: </span><br/>
                            &#9;&#9;<span id="spanPercentW" class="showNewLine"></span>
                            &#9;&#9;<span id="spanPercentU" class="showNewLine"></span>
                            &#9;&#9;<span id="spanPercentB" class="showNewLine"></span>
                            &#9;&#9;<span id="spanPercentR" class="showNewLine"></span>
                            &#9;&#9;<span id="spanPercentG" class="showNewLine"></span>
                        </div>
                        <div class="col-12 mt-3">
                            <span>Total land base price: $</span><span id="spanPrice"></span>
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <div class="text-wrap">
                            <label for="outputLands" class="form-label h4">Selected Lands</label>
                            <textarea id="outputLands" class="form-control"  rows="20" readonly></textarea>
                            <div id="copyResult" class="clipboard icon"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container safe-width hidden" id="errorsDiv">
                <h2 class="p-2 text-center">Error</h1>
                <div class="row m-3">
                    <div class="col-12 mb-3">
                        <span id="spanErrors" class="showNewLine"></span>
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer" class="safe-width alt-bg">
            <div class="text-center">
                Made by Flávio Teixeira
            </div>
        </footer>

    </div>

    <!-- Bootstrap JS and AJAX Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./static/mana-pizza.js"></script>

</body>
</html>
